.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background, opacity 300ms ease-out;
    background: rgba(0, 0, 0, 0.0);
    opacity: 0;
    visibility: hidden;
}

.containerShow {
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}

.container > div {
    border-radius: 16px;
    background-color: #FFFFFF;
    max-width: 400px;
    min-width: 400px;
    max-height: 430px;
    padding: 40px 24px;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    transform: translateY(50%);
    transition: transform 300ms ease-out;
}

.transition {
    transform: translateX(0%) !important;
}
